@use 'sass:color';
@import 'https://use.typekit.net/gxl6fjj.css';

$primary: #845ec2;
$secondary: #00beac;
$tertiary: #00d2fc;
$accent: #ba3caf;

:root {
	--font-family: "ivypresto-text", Georgia, serif;
	--font-family-highlight: "ivystyle-sans", "Open Sans", sans-serif;
	--font-family-accent: "ff-uberhand-pro", "Segoe Print", sans-serif;

	--font-size-body: 1rem;
	--hint-font-size: 1rem;

	--color-primary: #{$primary};
	--color-secondary: #{$secondary};
	--color-tertiary: #{$tertiary};
	--color-accent: #{$accent};

	--vp-c-accent: #{$primary};
	--vp-c-accent-bg: #{$primary};
	--vp-c-accent-hover: #{color.scale($primary, $lightness: -30%)};

	--section-color-unit: #{$tertiary};
	--section-color-component: #e084e7;
	--section-color-integration: #ffd265;
	--section-color-e2e: #76E391;

	--homepage-width: 1240px;
	--content-width: 840px;
	--navbar-height: 4rem;

	--search-input-width: 14rem;
	--search-c-accent: #{$secondary};

	--popper-theme-background-color: #292931;
	--popper-theme-background-color-hover: #292931;
	--popper-theme-text-color: white;
	--popper-theme-border-width: 1px;
	--popper-theme-border-style: solid;
	--popper-theme-border-color: var(--code-c-highlight-bg);
	--popper-theme-border-radius: 0.25rem;
	--popper-theme-padding: 1rem;
	--popper-theme-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);

	--vp-c-bg-alt: transparent;

	&[data-theme="dark"] {
		--popper-theme-background-color: #ffffff;
		--popper-theme-background-color-hover: #ffffff;
		--popper-theme-text-color: #3C3C43;
		--popper-theme-border-width: 1px;
		--popper-theme-border-style: solid;
		--popper-theme-border-color: #eeeeee;
		--popper-theme-border-radius: 0.25rem;
		--popper-theme-padding: 1rem;
		--popper-theme-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
	}
}

@mixin link-underline-transition {
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: all 0.2s ease-in-out;

	&:hover, &:focus, &:active {
		text-decoration-color: currentColor;
	}
}

body {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-highlight);
	font-weight: 600;
	letter-spacing: -0.05em;
}

h1 {
	font-size: 2.441rem;
}

h2 {
	font-size: 1.953rem;
}

h3 {
	font-size: 1.563rem;
}

h4 {
	font-size: 1.25rem;
}

a {
	@include link-underline-transition;
}

.vp-site-name {
	font-family: var(--font-family-accent);
	font-size: 1.5rem;
	display: inline-flex;
	flex-direction: column;
	gap: 0.25rem;
	line-height: 1;
	transform: translateY(-0.4rem);

	&:after {
		// TODO: Get this into the HTML
		content: 'By Double-E Design';
		font-size: 0.8rem;
		font-family: var(--font-family-highlight);
		font-weight: 300;
		display: block;
		text-align: right;
		transform: translateX(1rem);
		max-width: 10rem;
	}
}

.vp-navbar-items {
	font-family: var(--font-family-highlight);
	font-weight: 600;
	font-size: 1rem;

	.vp-navbar-item {

		.route-link, .external-link {
			border-bottom: 0;
			text-decoration: underline;
			text-decoration-color: transparent;
			transition: all 0.2s ease-in-out;
			font-weight: 600;

			&-active, &:hover, &:focus {
				text-decoration-color: currentColor;
			}
		}
	}
}

.vp-sidebar-items,
.hint-container:not(.details),
table {
	font-family: var(--font-family-highlight);
	font-size: 0.9rem;
	font-weight: 400;
}

.vp-sidebar-items {

	.vp-sidebar-item {
		font-size: 1.125rem;
		font-weight: 600;

		&.collapsible {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&.vp-sidebar-heading {
			transition-property: all;
		}
	}

	.vp-sidebar-children {
		padding-inline-start: 1.25rem;

		.vp-sidebar-item {
			font-size: 1rem;
			font-weight: 400;
			padding-left: 1.25rem;
		}
	}

}

.table-of-contents {
	background: var(--detail-c-bg);
	padding: 1rem;
	border-radius: 0.5rem;
	position: relative;
	margin-top: 2rem;

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&:before {
			content: 'On this page ';
			display: block;
			margin-bottom: 0.5rem;
			@extend h4;
		}

		li {
			margin-bottom: 0;

			ul {
				padding-top: 0.25rem;
				list-style: none;

				li {
					font-size: 0.875em;
				}
			}
		}
	}
}

.hint-container:not(.details) {
	position: relative;

	.hint-container-title {
		@extend h4;
	}

	p {
		margin-bottom: 0.75rem;
	}
}

.hint-container.details {
	padding-block: 1rem;

	summary {
		font-family: var(--font-family-highlight);
		font-weight: 600;
		font-size: 1.125rem;
		transition: all 0.2s ease-in-out;
		border-radius: 0.5rem;
		text-decoration: underline;
		text-decoration-color: transparent;

		&:hover, &:focus {
			text-decoration-color: currentColor;
		}
	}

	.hint-container & {
		summary {
			font-size: 1rem;
		}
	}

	&[open] summary  {
		margin-bottom: -1rem;
	}
}

.vp-home {
	min-height: calc(100vh - var(--navbar-height));
	container-type: size;

	@media (min-width: 760px) {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.vp-hero {
		flex-grow: 1;
		flex-basis: auto;
	}

	div[vp-content] {
		width: max-content;
		flex-basis: max-content;
	}

	.vp-footer {
		width: 100%;
		flex-basis: 100%;
		padding: 1rem;
		margin-top: auto;
		font-size: 0.9rem;
	}
}

div[vp-content] {
	container-type: inline-size;

	.vp-home & {
		container-type: unset;
	}

	h2 {
		padding-top: calc(3rem + var(--header-offset));
	}

	h3 {
		padding-top: calc(0.5rem + var(--header-offset));
	}

	p {
		margin-bottom: 1.25rem;

		&:has(+ ul, + ol, + h3) {
			margin-bottom: 0.5rem;
		}
	}

	ul, ol {
		li {
			margin-bottom: 0.25rem;
		}
	}

	a {
		text-decoration-color: color-mix(in srgb, var(--vp-c-accent) 50%, transparent) !important;

		&:hover, &:focus, &:active {
			color: var(--color-secondary);
			text-decoration-color: currentColor !important;
		}
	}

	table {
		width: 100%;
		border-radius: 0.5rem;
		display: block; // required for the outline to work properly
		outline: 1px solid var(--vp-c-border); // puts a border around the table not cut off by the border radius
		outline-offset: -1px; // covers the the borders of the cells rather than using complex CSS for those

		thead, tbody {
			display: contents;
		}

		thead th {
			border-top: 0;
		}

		tr {
			display: flex;
			width: 100%;
		}

		th, td {
			flex: 1;
			border-color: var(--vp-c-border);
			border-bottom: 0;
			box-sizing: border-box;
			border-right: 0;
		}

		th {
			text-align: start;
			background-color: var(--detail-c-bg);
		}

		td {
			// Alignment of second and subsequent lines of text when the text starts with an emoji
			// May require adjustment if I add tables that don't have emojis but do have multiline text
			text-indent: 1.65em hanging;
		}
	}
}

.footnotes-list {
	font-size: 0.875rem;
}

.vp-page-meta, .vp-page-nav {
	font-family: var(--font-family-highlight);
}

.vp-page-meta {
	padding-block-start: 2rem;
	padding-block-end: 0;
}

.vp-page-nav {
	border-top: 0;
	display: flex;
	gap: 0.5rem;

	.auto-link {
		margin: 0;
		max-width: 50%;
		padding: 0.5rem;

		.hint {
			line-height: unset;
		}

		&.prev {
			.link {
				padding-inline-start: 1rem;
			}
		}

		&.next {
			margin-left: auto;

			.link {
				padding-inline-end: 1rem;
			}
		}
	}
}

// Syntax highlighting customisations
[data-highlighter="prismjs"] {

	.line:has(.token.php) {
		.token.delimiter.important {
			color: #F64EAD;
		}
	}

	.token {
		&.comment {
			color: #7A7B7D;
		}

		&.php {
			color: #F64EAD;
		}

		&.string,
		&.double-quoted-string,
		&.single-quoted-string {
			color: #FFF;
		}

		&.heredoc-string,
		&.nowdoc-string,
		&.delimiter.symbol { // .delimiter.symbol catches the closing heredoc comment
			color: #FFBB00;
			font-style: italic;

			.punctuation {
				color: #FFBB00;
				font-style: italic;
			}
		}

		&.punctuation {
			color: #87D9FF;
		}

		&.operator {
			color: #FFE081;
		}

		&.package { // namespace
			color: #FFF;

			.punctuation {
				color: #FFF;
			}
		}

		&.keyword {
			color: #8291ef;
		}

		&.variable,
		&.literal-property {
			//color: #B48FFF;
			color: #db93ff;
		}

		&.class-name { // php class/object
			color: #87D9FF;
		}

		&.function {
			color: #93FFB4;
			font-style: italic;
		}

		&.class-name + .operator + .function,
		&.variable + .operator + .function {
			font-style: normal;
		}
	}

	&.language-json {

		.token {
			&.property {
				color: #B48FFF;
			}
		}
	}
}